/* Index/Hero Section
  Cambia la posicion la imagen en el hero de la pagina de inicio
*/
.wlc-author-1 {
  bottom: 25%;
}

/* Index/Acerca de
  Cambia la imagen de fondo en acerca de la pagina de inicio
*/
.about-img-section1 {
  background-image: url(../img/pages/index/acerca_de/p2.webp);
  background-size: cover;
}

/* Index/Acerca de
  Ya no se usan, pero se dejan por si acaso
*/
.about-img-section2 {
  background-image: url(../img/pages/index/acerca_de/p3.webp);
  background-size: cover;
}
.about-img-section3 {
  background-image: url(../img/pages/servicios/preguntas/faq-2-image.webp);
  background-size: auto 100%;
  background-position: center;
  border-radius: 0 25% 25% 25%;
}

/* Index/Acerca de
Desactiva una imagen de fondo
*/
.about-shape:before {
  background: unset;
}

/* Servicios/Hero
  Controla aspectos de los iconos de los bullets
*/
.far.fa-check {
  color: #51966a;
  position: relative;
  padding-right: 1%;
  padding-top: 5%;
}
.col-lg-6 .single-service.pricing2 i {
  color: #51966a;
  font-size: 70px;
}
.col-lg-6:hover .single-service.pricing2 i {
  color: #fff;
}

/* Servicios/elegir
  Controla aspectos de los desplegables
*/
.accordion .card {
  cursor: pointer;
}
.card h5 {
  color: #343a40;
}
.card:hover h5 {
  color: #629F78;
}

/* Whatsapp
  Cambia la posicion y el estilo del boton de whatsapp
*/
.whatsapp-btn {
  position: fixed;
  bottom: 0%;
  left: 10%;
  background-color: #629f78;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 12px;
  border-radius: 50%;
  font-size: 35px;
  z-index: 1000;
  transition: all 0.3s;
  opacity: 0;
}
.whatsapp-btn.show {
  bottom: 5%;
  opacity: 1;
}
.whatsapp-btn:hover {
  background: #fff;
  color: #3d4b67;
  border-color: #3d4b67;
}

/* Servicios/Hero
  Controla aspectos de los iconos check
*/
.service-icon i {
  font-size: 70px;
}

/* Menu Cellphone
  Controla aspectos de funcionamiento del menu en celular
*/
.single-service.pricing2:hover .service-icon i {
  color: #fff;
}
.navbarmneuclass .call-btn-mobile,
.navbarmneuclass .location-btn-mobile {
  display: none !important;
}
.navbarmneuclass .close-menu {
  color: #fff;
}

.welcome__wrap1 {
  background: none;
}

/* Correccion de colores 
  Se hacen las correcciones de colores correspondientes al sitio
*/
.site-black {
  background: #3d4b67;
}

body {
  color: #f6f6fe;
}

.header-area.sticky {
  background: #629f78;
}

.stellarnav.mobile.active.light ul {
  background: #629f78;
}

.stellarnav.light li a {
  color: #f6f6fe;
}

.stellarnav.light.mobile.active li a:hover {
  color: #fff;
}

.stellarnav > ul > li:after {
  background: #fff;
}

.footer-area1 {
  background-image: none;
  background-color: #629f78;
}

a {
  color: #3d4b67;
}

a:hover {
  color: #fff;
}

.copyright span {
  color: #fff;
}

.copyright {
  color: #3d4b67;
}

a.up-btn {
  background: #629f78;
  color: #fff;
  border-color: #fff;
}
a.up-btn:hover {
  background: #fff;
  color: #3d4b67;
  border-color: #3d4b67;
}

.wlc-title h1 span {
  color: #629f78;
}

.wlc-title p {
  border-color: #629f78;
}

a.cbtn.cbnt1 {
  background-color: #629f78;
  color: #fff;
  border-color: #fff;
}
a.cbtn.cbnt1:hover {
  border-color: #3d4b67;
  color: #3d4b67;
  background-color: #fff;
}
a.cbtn.cbnt1:hover i {
  border-color: #3d4b67;
  color: #fff;
  background-color: #629f78;
}

.heading h2 span {
  color: #629f78;
}

.single-service {
  background: #3d4b67;
  border: 1px solid #fff;
}
.single-service:hover {
  background: #629f78;
  border: 1px solid #3d4b67;
}
span.circle.circle-1 {
  background: #77b78f;
}
span.circle.circle-2 {
  background: #629f78;
}
span.circle.circle-3 {
  background: #547e64;
}
span.circle.circle-4 {
  background: #3d4b67;
}

h6 {
  color: #f6f6fe;
}

.service-text h4 {
  color: #629f78 !important;
}

.single-service:hover .service-text h4 {
  color: #3d4b67;
}

.service-text p {
  color: #f6f6fe;
}

.single-service:hover .service-text h4 {
  color: #f6f6fe !important;
}

.testimonials-area1 {
  background: #3d4b67;
}

.testimonials .owl-nav > div {
  border-color: #f6f6fe;
  color: #f6f6fe;
  background-color: #629f78;
}

.testimonials .owl-nav > div:hover {
  background-color: #f6f6fe;
  border-color: #3d4b67;
  color: #3d4b67;
}

.welcome-area-wrap {
  background-color: #343a40;
}

.inner-filltext h1 {
  -webkit-text-stroke: 1px #f6f6fe;
}

body .servicios,
body .servicios .service-text p,
body .servicios .card-body{
  color: #343a40;
}

.service-primery .single-service {
    border-color: #343a40;
}
.service-primery .single-service:hover {
    background-color: #629f78;
    border-color: #f6f6fe;
}

.primery-heading small {
    color: #629f78 !important;
}

a.subscribe-btn {
    background-color: #629f78;
    color: #fff;
    border-color: #fff;
}

a.subscribe-btn:hover {
  border-color: #3d4b67;
  color: #3d4b67;
  background-color: #fff;
}
a.subscribe-btn:hover i {
  border-color: #3d4b67;
  color: #fff;
  background-color: #629f78;
}