.wlc-author-1 {
  bottom: 25%;
}

.about-img-section1 {
  background-image: url(../img/pages/index/acerca_de/p2.webp);
  background-size: cover;
}

.about-img-section2 {
  background-image: url(../img/pages/index/acerca_de/p3.webp);
  background-size: cover;
}

.about-img-section3 {
  background-image: url(../img/pages/servicios/preguntas/faq-2-image.webp);
  background-size: auto 100%;
  background-position: center;
  border-radius: 0 25% 25% 25%;
}

.icono {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.icono i {
  color: #ccc;
  transition: all 0.3s ease;
  font-size: 30px;
}

.icono:hover {
  background-color: #333;
  border-color: #333;
}

.icono:hover i {
  color: #fff;
}

@media (max-width: 768px) {
  .icono {
    width: 40px;
    height: 40px;
  }

  .icono i {
    font-size: 20px;
  }
}

.about-shape:before {
  background: unset;
}

.far.fa-check {
  color: #51966a;
  position: relative;
  padding-right: 1%;
  padding-top: 5%;
}

.col-lg-6 .single-service.pricing2 i {
  color: #51966a;
  font-size: 70px;
}

.col-lg-6:hover .single-service.pricing2 i{
  color: #fff;
}

.card {
  cursor: pointer;
}

.card-header h5 {
  color: #343a40;
}

.card-header:hover h5 {
  color: #22cd6f;
}